.hero {
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
  color: $color-text-dark-background;
}

.hero__block {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.hero__header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }
}

.hero__header picture {
  display: flex;
}

.hero__header-link {
  color: $color-text-dark-background;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: $color-link-hover;
  }

  &:focus-visible {
    color: $color-dark-additional-background;
  }

  &:active {
    color: $color-text-basic;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
  }

  &:disabled {
    color: $color-link-disabled;
  }
}

.hero__content {
  margin: 48px 0 32px;

  &::after {
    content: "";
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 324px;
      height: 390px;
      background-image:
        image-set(
          url("../../img/hero_image_tablet@1x.webp") 1x,
          url("../../img/hero_image_tablet@2x.webp") 2x,
          url("../../img/hero_image_tablet@1x.jpg") 1x,
          url("../../img/hero_image_tablet@2x.jpg") 2x
        );
    }

    @media (min-width: $desktop-width) {
      width: 500px;
      height: 524px;
      background-image:
        image-set(
          url("../../img/hero_image_desktop@1x.webp") 1x,
          url("../../img/hero_image_desktop@2x.webp") 2x,
          url("../../img/hero_image_desktop@1x.jpg") 1x,
          url("../../img/hero_image_desktop@2x.jpg") 2x
        );
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 30px;
    margin: 0 0 100px;
  }

  @media (min-width: $desktop-width) {
    justify-content: end;
    padding: 30px 72px 0 0;
    gap: 56px;
    margin: 0 0 120px;
  }
}

.hero__content-description {
  display: grid;
  grid-template-columns: 113px auto;
  grid-template-rows: auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 113px 185px;
    grid-template-rows: min-content min-content min-content;
    column-gap: 26px;
    margin: 31px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 115px 270px;
    grid-template-rows: min-content min-content min-content;
    column-gap: 0;
    margin: 52px 0 0;
  }
}

.hero__content-title {
  text-transform: uppercase;
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: right;

  @media (min-width: $tablet-width) {
    padding: 10px 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 0 38px;
  }
}

.hero__content-subtitle {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right;
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.hero__content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: self-end;

  @media (min-width: $tablet-width) {
    padding: 15px 0 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
  }
}

.hero__content-button {
  color: $color-text-dark-background;
  margin: 48px 0 0;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  text-transform: uppercase;
  width: 290px;
  border: 2px solid $color-text-dark-background;
  padding: 22px 0;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    margin: 0;
    width: 185px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0;
    margin: 0;
    width: 270px;
  }

  &:hover {
    background-color: $color-text-dark-background;
    color: $color-text-additional-accent;
  }

  &:focus-visible {
    background-color: $color-hero-button-focus;
    color: $color-text-additional-accent;
    border-color: $color-hero-button-focus-border;
    outline: none;
  }

  &:active {
    background-color: $color-text-dark-background;
    color: $color-hero-button-active;
    border-color: $color-text-dark-background;
    outline: none;
  }

  &:disabled {
    background-color: transparent;
    color: $color-hero-button-disabled;
    border-color: $color-hero-button-disabled;
  }
}
