.price {
  background-color: $color-additional-background;
}

.price__block {
  width: 290px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      width: 275px;
      height: 328px;
      position: absolute;
      bottom: 30px;
      right: -168px;
      z-index: -1;
      background-image:
        image-set(
          url("../../img/price_image_background_tablet@1x.webp") 1x,
          url("../../img/price_image_background_tablet@2x.webp") 2x,
          url("../../img/price_image_background_tablet@1x.png") 1x,
          url("../../img/price_image_background_tablet@2x.png") 2x
        );
      background-repeat: no-repeat;
      background-size: contain;
      scale: 1.19;
    }

    @media (min-width: $desktop-width) {
      bottom: 57px;
      right: -126px;
      scale: 1.35;
      background-image:
        image-set(
          url("../../img/price_image_background_desktop@1x.webp") 1x,
          url("../../img/price_image_background_desktop@2x.webp") 2x,
          url("../../img/price_image_background_desktop@1x.png") 1x,
          url("../../img/price_image_background_desktop@2x.png") 2x
        );
    }
  }

  @media (min-width: $tablet-width) {
    width: 380px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    margin: 0 auto;
  }
}

.price__tabs-block {
  padding: 40px 0 0;
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 0;
    margin: 0 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 0;
    margin: 0 0 40px;
  }
}

.price__tabs-title {
  color: $color-text-basic;
  text-align: center;
  margin: 0;
  padding: 0 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 20px;
  }
}

.price__tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-bottom-side;
    position: absolute;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0 auto;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    margin: 0 auto;
    gap: 51px;
  }
}

.price__tabs-button {
  border: none;
  background-color: transparent;
  color: $color-light-text;
  padding: 0;
  cursor: pointer;

  &:not(.tabs-button--active):hover {
    color: $color-price-tabs-hover;
    padding: 0 0 8px;
    border-bottom: 2px solid $color-price-border-hover;
  }

  &:not(.tabs-button--active):focus-visible {
    color: $color-text-basic;
    border-bottom: 2px solid $color-text-basic;
    padding: 0 0 8px;
    outline: none;
  }

  &:disabled {
    color: $color-price-button-disabled;
    border-bottom: 2px solid $color-price-button-disabled;
    padding: 0 0 8px;
  }
}

.tabs-button--active {
  color: $color-text-basic;
  border-bottom: 2px solid $color-banners;
  padding: 0 0 7px;
  box-sizing: border-box;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 0 0 8px;
  }
}

.price__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0 0 40px;

  @media (min-width: $tablet-width) {
    gap: 40px;
    padding: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0 0 100px;
  }
}

.price__item {
  padding: 43px 35px;
  background-color: $color-text-dark-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  border: 7px solid transparent;
  box-sizing: border-box;
  border-image-slice: 1;
  border-image-width: 7px;
  border-image-outset: 0;

  @media (min-width: $tablet-width) {
    padding: 59px 58px;
    gap: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 58px 58px;
    gap: 17px;

    &:hover,
    &:focus-visible {
      border-image-source: $color-border-gradient;
    }
  }
}

.price__title {
  color: $color-text-basic;
  margin: 0;
  text-align: center;
}

.price__subtitle {
  color: $color-text-basic;
  margin: 0;
}

.price__text-block {
  position: relative;
  padding: 48px 0 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 0;
  }
}

.price__text {
  position: relative;
  color: $color-text-additional-accent;
  z-index: 2;
  display: flex;
  gap: 10px;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 33px;
    background-image: url("../../img/sprite/price_icon_rubles.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.price__text-shadow {
  color: $color-price-shadow;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.price__button {
  cursor: pointer;
  width: 206px;
  padding: 25px 0;
  background-color: transparent;
  text-transform: uppercase;
  color: $color-text-basic;
  border: 2px solid $color-text-basic;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    padding: 25px 0;
  }

  &:hover {
    background-image: $color-price-button-gradient;
    border: none;
    padding: 27px 0;
    color: $color-text-dark-background;

    @media (min-width: $tablet-width) {
      padding: 26px 0;
    }
  }

  &:focus-visible {
    background-image: $color-price-button-focus-gradient;
    color: $color-text-dark-background;
    border-color: $color-hero-button-focus-border;
    outline: none;
  }

  &:active {
    border: none;
    padding: 26px 0;
    outline: none;
    background-image: $color-price-button-gradient;
    color: $color-white-opacity;
  }

  &:disabled {
    background-color: $color-text-dark-background;
    color: $color-price-button-disabled;
    border-color: $color-hero-button-active;
  }
}
