.reviews__title {
  color: $color-text-basic;
  margin: 40px;

  @media (min-width: $tablet-width) {
    margin: 60px 0 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 0 75px;
  }
}

.reviews__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin: 0 auto 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin: 0 auto;
    padding: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    margin: 0 auto;
    padding: 0 0 100px;
  }

  ul {
    width: 240px;
    padding: 0;
    margin: 0;

    @media (min-width: $tablet-width) {
      width: 500px;
    }

    @media (min-width: $desktop-width) {
      width: 560px;
    }
  }

  li {
    display: flex;
    background-color: $color-border-toggle;
    color: $color-text-dark-background;
    padding: 30px 25px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      padding: 40px 30px;
      gap: 40px;
      text-align: left;
      align-items: start;
      flex-shrink: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 60px 65px 60px 60px;
      gap: 30px;
      flex-shrink: 1;
    }
  }

  h4 {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 6px 0 16px;

    @media (min-width: $tablet-width) {
      margin: 0 0 20px;
      font-size: 22px;
      line-height: 22px;
    }
  }

  p {
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 325px;
    }
  }

  p br:nth-child(1) {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  p br:nth-child(2) {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  p br:nth-child(3) {
    display: block;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.reviews__swiper {
  overflow: hidden;
}

.reviews__slide div {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.reviews__button {
  cursor: pointer;
  display: none;
  border: transparent;
  width: 50px;
  height: 50px;
  padding: 9px 17px;
  position: absolute;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: block;
    top: 254px;
  }

  @media (min-width: $desktop-width) {
    top: 334px;
  }

  &:hover {
    border: 1px solid $color-text-basic;
    border-radius: 50%;
  }

  &:focus-visible {
    border: 1px solid $color-text-basic;
    border-radius: 50%;
    background-color: $color-price-shadow;
    outline: none;
  }

  &:active {
    border: 1px solid $color-text-basic;
    background-color: $color-text-basic;
  }

  &:disabled {
    border: transparent;
    background-color: transparent;
    opacity: 0.3;
  }
}

.reviews__button--next {
  background-image: url("/__spritemap#sprite-juri_prev_button-view");
  background-repeat: no-repeat;
  background-color: transparent;
  rotate: 180deg;
  background-size: 16px 32px;

  @media (min-width: $tablet-width) {
    right: 0;
  }

  @media (min-width: $desktop-width) {
    right: 178px;
  }

  &:active {
    background-image: url("/__spritemap#sprite-juri_prev_button_active-view");
  }
}


.reviews__button--prev {
  background-image: url("/__spritemap#sprite-juri_prev_button-view");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 16px 32px;

  @media (min-width: $tablet-width) {
    left: 0;
  }

  @media (min-width: $desktop-width) {
    left: 178px;
  }

  &:active {
    background-image: url("/__spritemap#sprite-juri_prev_button_active-view");
  }
}
