@font-face {
  font-family: "Alumni-Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/Alumni-Sans.woff2") format("woff2"),
    url("../../fonts/Alumni-Sans.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/Roboto-Condensed.woff2") format("woff2"),
    url("../../fonts/Roboto-Condensed.woff") format("woff");
}
