$primary-font: "Alumni-Sans", "Arial", sans-serif;
$secondary-font: "Roboto-Condensed", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1366px;
$color-text-basic: #102654;
$color-text-dark-background: #ffffff;
$color-text-additional-accent: #103aae;
$color-text-additional-gradient: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
$color-border-gradient: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
$color-button-tab-background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
$color-banners: #ed0233;
$color-additional-background: #f8f9fc;
$color-light-text: rgba(16, 38, 84, 0.5);
$color-bottom-side: rgba(120, 120, 120, 0.2);
$color-state-tabs: #d10a42;
$color-price-shadow: #e8e8e8;
$color-desc: #2e35ac;
$color-dark-additional-background: #1c3374;
$color-inner-alignment: rgba(209, 10, 66, 0.2);
$color-border-tab: rgba(16, 38, 84, 0.2);
$color-border-toggle: #1c3374;
$color-border-faq: #74819c;
$color-background-dark: #030a1a;
