$primary-font: "Alumni-Sans", "Arial", sans-serif;
$secondary-font: "Roboto-Condensed", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1366px;
$color-text-basic: #102654;
$color-text-dark-background: #ffffff;
$color-text-additional-accent: #103aae;
$color-text-additional-gradient: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
$color-banners: #ed0233;
